SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=

ENVIRONMENT=development

DATABASE_URL=postgresql://user:password@host:port/dbname
DATABASE_SSLMODE=require

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@example.com

UPLOADCARE_PUBLIC_KEY=
UPLOADCARE_SECRET_KEY=
UPLOADCARE_STORE=auto
UPLOADCARE_CDN_BASE=https://ucarecdn.com/
