SHELTACOST BRANDING 
Your current profile:

Feels like a tender/company profile (PDF style)
Not a modern, confident, premium consultancy brand
The website needs to:

Feel bigger than Kenya & Strong messaging around:
Align with your vision: Pan-African firm
Sell clarity, control, and confidence in construction costs

EG

Cost control
Project delivery
Global scale

WEB DESIGN THINKING
mega-menu  for Who we are, Solutions, Portfolio, and Insights, 
and I’ve hide the richer intro/promo pieces in the mobile off-canvas menu so that experience stays simple, also the mega menu on who we are acts like a lead capture for profile downloads 
And register it in Django admin so admins can:

view leads
search emails
filter by date/sent status
export from admin if needed


WEB
hero section 

<h1 class="heading--xxl heading--animated-desktop">
                            <span class="heading--xxl__static">We</span>
                            <span class="heading--xxl__animation-container">
                                <span class="heading--xxl__animated-word">work</span>
                                <span class="heading--xxl__animated-word">create</span>
                                <span class="heading--xxl__animated-word">solve</span>
                                <span class="heading--xxl__animated-word">deliver</span>
                                <span class="heading--xxl__animated-word">transform</span>
                            </span>
                            <span class="heading--xxl__static">together.</span>
                        </h1>



                        Working in partnership makes it possible to deliver the world’s most impactful projects and programmes across real estate, infrastructure, energy and natural resources.
Find out more


CONFIG
best practical choice now: Django search view + DB queries
best higher-quality version on your stack: PostgreSQL full-text search