{% extends "base.html" %}
{% block title %}Company History | Shelta Cost Solutions Ltd{% endblock %}
{% block content %}
<div class="breadcrumb__area" style="background-image: url('assets/img/page/breadcrumb.html');">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="breadcrumb__area-content">
					<h2>Company History</h2>
					<ul>
						<li><a href="{% url 'home' %}">Home</a><i class="fa-regular fa-angle-right"></i></li>
						<li>Company History</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="history__area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="company__history-area">
					<div class="company__history-area-item">
						<div class="company__history-area-item-date"><span>2014</span></div>
						<div class="company__history-area-item-inner wow fadeInUp" data-wow-delay=".4s">
							<div class="company__history-area-item-inner-image"><img src="assets/img/portfolio/portfolio-2.jpg" alt="image"></div>
							<div class="company__history-area-item-inner-content">
								<h4>Shelta Cost Solutions Is Founded</h4>
								<p>The firm begins operations with a focus on quantity surveying consultancy for private dwellings and building works.</p>
							</div>
						</div>
					</div>
					<div class="company__history-area-item">
						<div class="company__history-area-item-date"><span>2015</span></div>
						<div class="company__history-area-item-inner wow fadeInUp" data-wow-delay=".4s">
							<div class="company__history-area-item-inner-image"><img src="assets/img/portfolio/portfolio-3.jpg" alt="image"></div>
							<div class="company__history-area-item-inner-content">
								<h4>Company Is Incorporated</h4>
								<p>On 16 January 2015 the company is incorporated as a private limited liability company under the laws of Kenya.</p>
							</div>
						</div>
					</div>
					<div class="company__history-area-item">
						<div class="company__history-area-item-date"><span>2018</span></div>
						<div class="company__history-area-item-inner wow fadeInUp" data-wow-delay=".4s">
							<div class="company__history-area-item-inner-image"><img src="assets/img/portfolio/portfolio-8.jpg" alt="image"></div>
							<div class="company__history-area-item-inner-content">
								<h4>BORAQS Registration</h4>
								<p>The firm is licensed by the Board of Registration of Architects and Quantity Surveyors under registration number 258Q.</p>
							</div>
						</div>
					</div>
					<div class="company__history-area-item">
						<div class="company__history-area-item-date"><span>2021</span></div>
						<div class="company__history-area-item-inner wow fadeInUp" data-wow-delay=".4s">
							<div class="company__history-area-item-inner-image"><img src="assets/img/portfolio/portfolio-6.jpg" alt="image"></div>
							<div class="company__history-area-item-inner-content">
								<h4>AAK Firm Membership</h4>
								<p>Shelta Cost becomes a firm member of the Architectural Association of Kenya Quantity Surveyors Chapter under member number F00206.</p>
							</div>
						</div>
					</div>
					<div class="company__history-area-item">
						<div class="company__history-area-item-date"><span>Today</span></div>
						<div class="company__history-area-item-inner wow fadeInUp" data-wow-delay=".4s">
							<div class="company__history-area-item-inner-image"><img src="assets/img/portfolio/portfolio-1.jpg" alt="image"></div>
							<div class="company__history-area-item-inner-content">
								<h4>Service Expansion and Sector Growth</h4>
								<p>From private residences the portfolio has grown to apartments, factories, office complexes, retail outlets, bank fit-outs, schools, hotels, hostels and sports facilities, supported by expanded services in contract administration, project management, construction management, feasibility studies and dispute resolution.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
