{% extends "base.html" %}
{% block title %}{{ project.title }} | Shelta Cost Solutions Ltd{% endblock %}
{% block content %}
<div class="breadcrumb__area" style="background-image: url('assets/img/page/breadcrumb.html');">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="breadcrumb__area-content">
					<h2>{{ project.title }}</h2>
					<ul>
						<li><a href="{% url 'home' %}">Home</a><i class="fa-regular fa-angle-right"></i></li>
						<li><a href="{% url 'portfolio' %}">Portfolio</a><i class="fa-regular fa-angle-right"></i></li>
						<li>{{ project.title }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio__details section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 columns_sticky lg-mb-25">
				<div class="portfolio__details-overview">
					<h4>Project Overview</h4>
					<div class="portfolio__details-overview-item"><span>Project :</span><h6>{{ project.title }}</h6></div>
					<div class="portfolio__details-overview-item"><span>Client Type :</span><h6>{{ project.client_type }}</h6></div>
					<div class="portfolio__details-overview-item"><span>Category :</span><h6>{{ project.category }}</h6></div>
					<div class="portfolio__details-overview-item"><span>Location :</span><h6><a href="https://www.google.com/maps?q={{ project.location|urlencode }}">{{ project.location }}</a></h6></div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="portfolio__details-area">
					<img src="{{ project.image }}" alt="{{ project.title }}">
					<h3 class="mt-25 mb-20">{{ project.detail_heading }}</h3>
					<p class="mb-25">{{ project.detail_intro }}</p>
					<div class="row mb-25">
						<div class="col-md-6 md-mb-25">
							<ul class="portfolio__details-area-list">
								{% for point in project.checklist|slice:":2" %}
								<li><i class="fas fa-check"></i>{{ point }}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="portfolio__details-area-list">
								{% for point in project.checklist|slice:"2:" %}
								<li><i class="fas fa-check"></i>{{ point }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<h4 class="mb-20">How Shelta Cost Delivers Value</h4>
					<p>{{ project.detail_body }}</p>
					<div class="row mt-40 mb-40 portfolio__details-area-image">
						<div class="col-sm-6 sm-mb-25"><img src="{{ project.gallery_image_left }}" alt="{{ project.title }}"></div>
						<div class="col-sm-6"><img src="{{ project.gallery_image_right }}" alt="{{ project.title }}"></div>
					</div>
					<p>{{ project.detail_body_two }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
